/*  Slider arrow */

.commonArrow .swiper-button-prev,
.commonArrow .swiper-button-next {
    color: #42aaa3;
    opacity: .6;
    transition: all .3s ease-in-out;
}

.commonArrow .swiper-button-prev:hover,
.commonArrow .swiper-button-next:hover {
    opacity: 1;
}

.commonArrow .swiper-button-prev::after,
.commonArrow .swiper-button-next::after {
    font-size: 20px;
}

.mainSlider .swiper-button-prev,
.mainSlider .swiper-button-next {
    color: #fefefe;
    background-color: #0985C3;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    transition: all .3s ease-in-out;
}

.mainSlider .swiper-button-prev::after,
.mainSlider .swiper-button-next::after {
    font-size: 10px;
}

.thumbSlider .swiper-button-prev,
.thumbSlider .swiper-button-next {
    color: #555555;
}

.thumbSlider .swiper-button-prev {
    left: -5px;
}

.thumbSlider .swiper-button-next {
    right: -5px;
}

.thumbSlider .swiper-button-prev::after,
.thumbSlider .swiper-button-next::after {
    font-size: 12px;
}

.fade-in {
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.3s ease-out;
}

.fade-in.show {
    opacity: 1;
    transform: scale(1);
}

.overlay-hidden {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.overlay-visible {
    opacity: 1;
}

.customScrollbar::-webkit-scrollbar {
    width: 5px;
}

.customScrollbar::-webkit-scrollbar-thumb {
    background: #0985C4;
    border-radius: 12px;
    /* gray-700 */
}

@keyframes swing {
    0% {
        transform: rotate(50deg);
    }

    100% {
        transform: rotate(30deg);
    }
}

.pendulum-img {
    transform: rotate(45deg);
    transform-origin: bottom center;
    animation: swing .8s ease-in-out infinite alternate;
}

@media (max-width: 900px) {

    .commonArrow .swiper-button-prev::after, .commonArrow .swiper-button-next::after {
        font-size: 14px;
    }
    
}